.container {
    padding: 50px;
    background-color: white;
    display: flex;
    flex-direction: column;
}

.container p {
    font-size: 25px;
    font-family: Arial;
}

.btn_group button
{
   margin-right: 20px;
}